<!--
<div class="spinner mdl-spinner mdl-js-spinner mdl-spinner&#45;&#45;single-color" [class.is-active]="visible"></div>
-->
<!--<div class="spinner ld ld-ring ld-spin huge"  *ngIf="visible"  style="font-size:64px;color:#0c84e4"></div>-->

<!--http://tobiasahlin.com/spinkit/-->
<div class="my-spinner-container" *ngIf="visible" style="min-height: 100%">

  <!--<mat-progress-spinner mode="indeterminate" *ngIf="spinnerName==='material-spinner'"></mat-progress-spinner>-->

  <div *ngIf="spinnerName==='my-spinnerSquare1'" class="my-spinner-square-1"></div>
  <div *ngIf="spinnerName==='my-spinnerSquare2'" class="my-spinner-square-2">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
  <div *ngIf="spinnerName==='my-spinnerSquare3'" class="my-spinner-square-3">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
  <div *ngIf="spinnerName==='my-spinnerSquare4'" class="my-spinner-square-4">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <div *ngIf="spinnerName==='my-spinnerCircle1'" class="my-spinner-circle-1">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  <div *ngIf="spinnerName==='my-spinnerCircle2'" class="my-spinner-circle-2"></div>
  <div *ngIf="spinnerName==='my-spinnerCircle3'" class="my-spinner-circle-3">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <div *ngIf="spinnerName==='my-spinnerCircle4'" class="my-spinner-circle-4">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div *ngIf="spinnerName==='my-spinnerCircle5'" class="my-spinner-circle-5">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>
  <div *ngIf="spinnerName==='my-spinnerCircle6'" class="my-spinner-circle-6">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

  <div *ngIf="spinnerName==='my-spinnerVerticalLines'" class="my-spinner-vertical-lines">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>

</div>





